

.carousel-container {
    overflow: hidden;
    width: 300px;
    height: 400px;
    
    position: relative;
}

.carousel-image {
    object-fit: cover;
    position: absolute;
    width: 300px;
    height: 400px;
    opacity: 1;
    /* animation: fade 1s forwards; */
}
.carousel-move-image {
    
    animation: in 1s forwards;
}

.carousel-reset-image {
    animation: out 1s forwards;

}

@keyframes fade {
    0% {
        opacity: 0.4;
    }
    
    100% {
        opacity: 1;
    }
}
@keyframes in {
    0% {

        position: absolute;
        left: 0%;
        opacity: 0;
    }

    10% {
        left: 0%;
        opacity: 0.5;
    }
    70% {
        position: absolute;
        left: 100%;
        opacity: 1;
    }
    
    100% {
        position: absolute;
        left: 0;

        opacity: 1;
    }
}

@keyframes out {
    0% {

        left: 0%;
        opacity: 1;
        
    }
    
    10% {
        left: 0%;
        opacity: 0.5;

    }
    70% {

        left: 100%;
        opacity: 1;
    }
    100% {
        left: 0;
        z-index: -10;
    }
  
}

